<!-- HEADER --------------------------------------->
<app-header></app-header>

<!-- CONTACT --------------------------------------->

<div class="banner">
  <div class="text">Vous souhaitez nous contacter ?</div>
  <div class="sub-text">Remplissez ce formulaire et notre équipe vous répondra dans les plus brefs délais</div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()"  class="all-window">
  <div class="contact-container">
    <div class="info-ligne champ">
      <mat-form-field appearance="fill" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
        <mat-label>Nom</mat-label>
        <input type="text" placeholder="Nom" matInput formControlName="nom" required>
        <mat-error *ngIf="form.controls.nom.hasError('required')">Champ obligatoire</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
        <mat-label>Prénom</mat-label>
        <input type="text" placeholder="Prénom" matInput formControlName="prenom" required>
        <mat-error *ngIf="form.controls.prenom.hasError('required')">Champ obligatoire</mat-error>
      </mat-form-field>
    </div>
    <div class="info-other">
      <div class="champ">
        <mat-form-field appearance="fill" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
          <mat-label>Entrez votre email</mat-label>
          <input type="text" placeholder="pat@example.com" matInput formControlName="email" required>
          <mat-error *ngIf="form.controls.email.hasError('required')">Champ obligatoire</mat-error>
          <mat-error *ngIf="form.controls.email.hasError('email')">Email non valide</mat-error>
        </mat-form-field>
      </div>
      <br>
      <div class="champ">
        <mat-form-field appearance="fill" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
          <mat-label>Sujet de la prise de contact</mat-label>
          <mat-select formControlName="sujet" required>
<!--            <mat-option *ngFor="let sujet of sujets" value="{{sujet._valeur}}">{{sujet._message}}</mat-option>-->
            <mat-option>Signalement</mat-option>
            <mat-option>Demande de Partenariat</mat-option>
            <mat-option>Demande d'informations</mat-option>
            <mat-option>Autre</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>
      <div class="champ">
        <mat-form-field appearance="fill" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
          <mat-label>Votre message</mat-label>
          <textarea placeholder="Votre message..." matInput formControlName="message" required></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="champ">
    <button [disabled]="form.invalid" mat-raised-button (mouseover)="hoverOn()" (mouseleave)="hoverOff()">Envoyer</button >
  </div>
</form>
