<!-- HEADER ------------------------------------------- -->
<app-header></app-header>

<!-- Profil ----------------------------------------->

<div class="profil-container start-page">
  <div class="profil">
    <div class="profil-right">
      <img src="assets/img/homme.png" alt="">
    </div>
    <div class="profil-left">
      <div class="profil-name" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
        <i class="fab fa-linkedin profil-icon"></i> Rodolphe Muriet
      </div>
      <div class="profil-title">
        CEO @ tAmERe & Co-funder of NomDe Merde
      </div>
      <div class="profil-resume">
        Ceci est une courte description de l'intervenant. Elle doit être concise et lègère. Si l'internaute souhaite en savoir plus, il pourra consulter le profil Linkedin de la personne. Ceci est une courte description de l'intervenant. Elle doit être concise et lègère. Si l'internaute souhaite en savoir plus, il pourra consulter le profil Linkedin de la personne. Ceci est une courte description de l'intervenant. Elle doit être concise et lègère. Si l'internaute souhaite en savoir plus, il pourra consulter le profil Linkedin de la personne.
      </div>
    </div>
  </div>
</div>

<!-- Emissions ------------------------------------ -->

<div class="cards-container end-page">
  <div class="cards-top">
    <div class="title-cards">
      Ces interventions
    </div>
  </div>
  <div class="cards-bottom">
    <div class="card-container" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <div class="type">Interview RISKINTEL</div>
          <div><i class="fas fa-play"></i></div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <div class="type">Table Ronde des Experts</div>
          <div><i class="fas fa-play"></i></div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <div class="type">Interview RISKINTEL</div>
          <div><i class="fas fa-play"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>
