<!-- Sidenav --------------------------------------- -->
<app-header></app-header>

<!-- BLACK BANNER ---------------------------------- -->
<div class="black-banner content">
  <div class="black-container">
    <div class="black-left">
      <video src="assets/img/video2.mp4" autoplay [muted]="1"></video>
    </div>
  </div>
</div>

<!-- DESCRPTION ----------------------------------------->

<div class="description-container start-page">
  <div class="description-trio">
    <div class="trio">
      <div class="icon-trio">
        <i class="fas fa-3x fa-video"></i>
      </div>
      <div class="text-trio">
        Ceci est une qualité ou une activité. Il faudra y réfléchir. Blabla je m'appelle Maya Douadi, j'aime le deadlift.
      </div>
    </div>
    <div class="trio">
      <div class="icon-trio">
        <i class="fas fa-3x fa-newspaper"></i>
      </div>
      <div class="text-trio">
        Ceci est une qualité ou une activité. Il faudra y réfléchir. Blabla je m'appelle Maya Douadi, j'aime le deadlift.
      </div>
    </div>
    <div class="trio">
      <div class="icon-trio">
        <i class="fas fa-3x fa-handshake"></i>
      </div>
      <div class="text-trio">
        Ceci est une qualité ou une activité. Il faudra y réfléchir. Blabla je m'appelle Maya Douadi, j'aime le deadlift.
      </div>
    </div>
  </div>
  <div class="description-duo">
    <div class="duo">
      Donec elementum arcu id volutpat maximus. Integer scelerisque justo turpis, a posuere metus efficitur ac. Vivamus rutrum accumsan felis a interdum. Fusce laoreet lorem vel urna maximus malesuada. Vestibulum porttitor convallis tortor, a imperdiet dolor tristique id. Curabitur ac est a mi imperdiet dictum. Sed ac molestie magna, eget tempor sem. Pellentesque et rhoncus urna. Curabitur convallis diam et imperdiet dictum. Nunc fermentum venenatis mauris, quis vehicula mi viverra dapibus. Maecenas vehicula, est id hendrerit venenatis, lacus erat rutrum ligula, vitae consectetur velit nisl ac tellus. Morbi eu nibh nibh. Praesent nec augue lorem. Aenean fermentum ipsum justo, vitae convallis dui auctor vitae. Vivamus vulputate elit quam, sed tincidunt sapien dapibus in.
      <br> <br>Nunc rutrum dapibus metus vel suscipit. Cras volutpat elit eget fermentum interdum. Vestibulum aliquet massa id tempor feugiat. Sed vel tincidunt diam. Vestibulum placerat nec mi quis vestibulum. Integer et luctus ipsum. Nulla elementum auctor purus, vel commodo magna tempus lobortis. Fusce in est fermentum, tempus orci non, hendrerit ipsum.
    </div>
    <div class="duo">
      Donec elementum arcu id volutpat maximus. Integer scelerisque justo turpis, a posuere metus efficitur ac. Vivamus rutrum accumsan felis a interdum. Fusce laoreet lorem vel urna maximus malesuada. Vestibulum porttitor convallis tortor, a imperdiet dolor tristique id. Curabitur ac est a mi imperdiet dictum. Sed ac molestie magna, eget tempor sem. Pellentesque et rhoncus urna. Curabitur convallis diam et imperdiet dictum. Nunc fermentum venenatis mauris, quis vehicula mi viverra dapibus. Maecenas vehicula, est id hendrerit venenatis, lacus erat rutrum ligula, vitae consectetur velit nisl ac tellus. Morbi eu nibh nibh. Praesent nec augue lorem. Aenean fermentum ipsum justo, vitae convallis dui auctor vitae. Vivamus vulputate elit quam, sed tincidunt sapien dapibus in.
      <br> <br>Nunc rutrum dapibus metus vel suscipit. Cras volutpat elit eget fermentum interdum. Vestibulum aliquet massa id tempor feugiat. Sed vel tincidunt diam. Vestibulum placerat nec mi quis vestibulum. Integer et luctus ipsum. Nulla elementum auctor purus, vel commodo magna tempus lobortis. Fusce in est fermentum, tempus orci non, hendrerit ipsum.
    </div>
  </div>
</div>

<!-- PARTENARIAT --------------------------------------->

<div class="partner-container end-page">
  <div class="title-partner">
    Nos Partenaires
  </div>
  <div class="partners">
    <div class="partner" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <img src="../../../assets/img/partner3.png" alt="">
    </div>
    <div class="partner">
      <img src="../../../assets/img/partner3.png" alt="">
    </div>
    <div class="partner">
      <img src="../../../assets/img/partner3.png" alt="">
    </div>
    <div class="partner">
      <img src="../../../assets/img/partner3.png" alt="">
    </div>
    <div class="partner">
      <img src="../../../assets/img/partner3.png" alt="">
    </div>
    <div class="partner">
      <img src="../../../assets/img/partner3.png" alt="">
    </div>
    <div class="partner">
      <img src="../../../assets/img/partner3.png" alt="">
    </div>
    <div class="partner">
      <img src="../../../assets/img/partner3.png" alt="">
    </div>
  </div>
</div>

<!-- Footer ------------------------------------------ -->
<app-footer></app-footer>
