// Footer ----------------

.container {
  background-color: #A06D6D;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.icon {
  transition: 0.5s;
  color: white;
  margin: 15px;
  opacity: 0.8;
}

.icon:hover {
  transition: 0.5s;
  transform: scale(1.2);
  opacity: 1;
}

.mention {
  font-size: smaller;
}
