<div class="container-header">
 <div class="header-left">
   <div class="menu-header" (click)="sidenav.toggle()" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
     <mat-sidenav-container class="example-container">
       <mat-sidenav-content>
         <i class="fas fa-2x fa-bars icon-header"></i>
       </mat-sidenav-content>
     </mat-sidenav-container>
   </div>
   <div class="logo-header" (click)="goTo('home')" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
     <img src="../../../assets/img/logo-risk.jpg" alt="">
   </div>
 </div>
  <div class="actu-header" (click)="sidenav2.toggle()" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
    <i class="fas fa-exclamation-circle exclamation"></i>
    Dernières actualités des risques
  </div>
</div>

<!-- SIDENAV 1 -------------------------------------------->
<mat-sidenav #sidenav mode="over" class="sidenav">
  <div class="sidenav-header">
    <div class="menu-header" (click)="sidenav.toggle()" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <i class="fas fa-2x fa-chevron-left icon-header"></i>
    </div>
    <div class="logo-header" (click)="goTo('home')" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <img src="../../../assets/img/logo-risk.jpg" alt="">
    </div>
  </div>
  <div class="pages" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
    <div class="page" (click)="goTo('interviews')" >
      Interviews
    </div>
    <div class="page" (click)="goTo('experts')">
      Table Ronde
    </div>
    <div class="page" (click)="goTo('talk-shows')">
      Talk Show
    </div>
  </div>
  <div class="pages2" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
    <div class="page" (click)="goTo('actualites')">
      Actualités
    </div>
    <div class="page" (click)="goTo('about-us')">
      A propos de nous
    </div>
  </div>
</mat-sidenav>

<!-- SIDENAV 2 -------------------------------------------->
<mat-sidenav #sidenav2 mode="over" class="sidenav2" position="end">
  <div class="sidenav-header2-container">
    <div class="voirplus" (click)="goTo('actualites')" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <i class="fas fa-eye voirplus-icon"></i> Voir plus
    </div>
    <div class="sidenav-header2">
      <div class="menu-header" (click)="sidenav2.toggle()" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
        <i class="fas fa-2x fa-chevron-right icon-header"></i>
      </div>
    </div>
  </div>
  <div class="cards-bottom">
    <div class="card-container">
      <div class="card-top">
        <img src="https://images.itnewsinfo.com/lmi/articles/grande/000000078736.jpg"/>
      </div>
      <div class="card-middle">
        La gestion des menaces internes préoccupante dans les entreprises françaises
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 12/04/2021
        </div>
        <div class="play">
          <div class="type">Le Monde</div>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://images.itnewsinfo.com/lmi/articles/grande/000000078736.jpg"/>
      </div>
      <div class="card-middle">
        La gestion des menaces internes préoccupante dans les entreprises françaises
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 12/04/2021
        </div>
        <div class="play">
          <div class="type">Le Monde</div>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://images.itnewsinfo.com/lmi/articles/grande/000000078736.jpg"/>
      </div>
      <div class="card-middle">
        La gestion des menaces internes préoccupante dans les entreprises françaises
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 12/04/2021
        </div>
        <div class="play">
          <div class="type">Le Monde</div>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://images.itnewsinfo.com/lmi/articles/grande/000000078736.jpg"/>
      </div>
      <div class="card-middle">
        La gestion des menaces internes préoccupante dans les entreprises françaises
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 12/04/2021
        </div>
        <div class="play">
          <div class="type">Le Monde</div>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://images.itnewsinfo.com/lmi/articles/grande/000000078736.jpg"/>
      </div>
      <div class="card-middle">
        La gestion des menaces internes préoccupante dans les entreprises françaises
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 12/04/2021
        </div>
        <div class="play">
          <div class="type">Le Monde</div>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://images.itnewsinfo.com/lmi/articles/grande/000000078736.jpg"/>
      </div>
      <div class="card-middle">
        La gestion des menaces internes préoccupante dans les entreprises françaises
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 12/04/2021
        </div>
        <div class="play">
          <div class="type">Le Monde</div>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://images.itnewsinfo.com/lmi/articles/grande/000000078736.jpg"/>
      </div>
      <div class="card-middle">
        La gestion des menaces internes préoccupante dans les entreprises françaises
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 12/04/2021
        </div>
        <div class="play">
          <div class="type">Le Monde</div>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav>
