<!-- Sidenav --------------------------------------- -->
<app-header></app-header>

<!-- BLACK BANNER ---------------------------------- -->
<div class="black-banner content">
  <div class="black-container">
    <div class="black-left">
      <video src="assets/img/video1.mp4" autoplay [muted]="1"></video>
    </div>
    <div class="black-right">
      <div class="black-right-top" (click)="goTo('videos')">
        <i class="fas fa-play-circle icon-black-play"></i> Voir toutes les vidéos
      </div>
      <div class="video-miniature" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="black-right-bottom">
        <i class="fas fa-bell bell"></i>
        Vous avez manqué notre dernière table ronde ? Ne vous inquiétez pas, voici le Replay. Vous avez manqué notre dernière table ronde ? Ne vous inquiétez pas, voici le Replay. Vous avez manqué notre dernière table ronde ? Ne vous inquiétez pas, voici le Replay
      </div>
    </div>
  </div>
</div>

<!-- INTERVIEWS ------------------------------------ -->

<div class="cards-container start-page">
  <div class="cards-top">
    <div class="title-cards">
      Interviews RISKINTEL
    </div>
    <div class="voirplus" (click)="goTo('interviews')" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <i class="fas fa-play-circle voirplus-icon"></i> Voir plus
    </div>
  </div>
  <div class="cards-bottom">
    <div class="card-container" (click)="goTo('video')" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Table Ronde des Experts ------------------------------------ -->

<div class="cards-container table-ronde">
  <div class="cards-top">
    <div class="title-cards">
      Table Ronde des Experts
    </div>
    <div class="voirplus" (click)="goTo('experts')" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <i class="fas fa-play-circle voirplus-icon"></i> Voir plus
    </div>
  </div>
  <div class="cards-bottom">
    <div class="card-container" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Talk Show Cyber Talk ------------------------------------ -->

<div class="cards-container">
  <div class="cards-top">
    <div class="title-cards">
      Talk Show : CyberTalk
    </div>
    <div class="voirplus" (click)="goTo('talk-shows')" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <i class="fas fa-play-circle voirplus-icon"></i> Voir plus
    </div>
  </div>
  <div class="cards-bottom">
    <div class="card-container" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Intervenants ------------------------------------ -->

<div class="cards-container table-ronde end-page">
  <div class="cards-top">
    <div class="title-cards">
      Nos intervenants
    </div>
  </div>
  <div class="intervenants-bottom">
    <div class="intervenant-container" (click)="goTo('intervenant');" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <img src="assets/img/intervenant.png" alt="">
    </div>
    <div class="intervenant-container">
      <img src="assets/img/intervenant2.png" alt="">
    </div>
    <div class="intervenant-container">
      <img src="assets/img/intervenant3.png" alt="">
    </div>
    <div class="intervenant-container">
      <img src="assets/img/intervenant.png" alt="">
    </div>
    <div class="intervenant-container">
      <img src="assets/img/intervenant2.png" alt="">
    </div>
    <div class="intervenant-container">
      <img src="assets/img/intervenant3.png" alt="">
    </div>
    <div class="intervenant-container">
      <img src="assets/img/intervenant.png" alt="">
    </div>
  </div>
</div>

<!-- Footer ------------------------------------------ -->
<app-footer></app-footer>
