<!-- HEADER ------------------------------------------- -->
<app-header></app-header>

<!-- INTERVIEWS ------------------------------------ -->

<div class="cards-container end-page start-page">
  <div class="cards-top">
    <div class="title-cards">
      Interviews RISKINTEL
    </div>
  </div>
  <div class="cards-bottom">
    <div class="card-container" (mouseover)="hoverOn()" (mouseleave)="hoverOff()" *ngFor="let video of videos;" (click)="goToVideo(video.id);">
      <div class="card-top">
        <img src="{{video.photo}}"/>
      </div>
      <div class="card-middle">
        {{video.titre}}
      </div>
      <div class="card-bottom">
        <div class="date">
          {{video.date}}
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>
