<!-- Sidenav --------------------------------------- -->
<app-header></app-header>

<!-- BLACK BANNER ---------------------------------- -->
<div class="black-banner content">
  <div class="black-container">
    <div class="black-left">
      <iframe src="https://www.youtube.com/embed/mrkRt2CMXss?autoplay=1&mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="black-right">
      <div class="black-right-top">
        <img src="assets/img/icone-blanche.png" class="icon-blanche" alt="">Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="black-right-bottom">
        Ceci est une description. Ceci est une description. Ceci est une description. Ceci est une description. Ceci est une description. Ceci est une description. Ceci est une description. Ceci est une description. Ceci est une description. Ceci est une description.
      </div>
    </div>
  </div>
</div>

<!-- SIMILAIRE ------------------------------------ -->

<div class="cards-container">
  <div class="cards-top">
    <div class="title-cards">
      Contenus similaires
    </div>
    <div class="voirplus">
      <i class="fas fa-play-circle voirplus-icon"></i> Voir plus
    </div>
  </div>
  <div class="cards-bottom">
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Les dernières émissions ------------------------------------ -->

<div class="cards-container table-ronde end-page">
  <div class="cards-top">
    <div class="title-cards">
      Nos dernières émissions
    </div>
    <div class="voirplus" (click)="goTo('videos')">
      <i class="fas fa-play-circle voirplus-icon"></i> Voir plus
    </div>
  </div>
  <div class="cards-bottom">
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer ------------------------------------------ -->
<app-footer></app-footer>
