<!-- Sidenav --------------------------------------- -->
<app-header></app-header>

<!-- BLACK BANNER ---------------------------------- -->
<div class="black-banner content">
  <div class="black-container">
    <div class="black-left" [innerHTML]="trustedDashboardUrl">
<!--      <iframe src='https://www.youtube.com/embed/pxVSN4QWVaE?autoplay=1&mute' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    </div>
    <div class="black-right">
      <div class="black-right-top">
        {{video.titre}}
        <img src="assets/img/icone-blanche.png" class="icon-blanche" alt="">
      </div>
      <div class="black-right-bottom">
        {{video.description}}
      </div>
      <div class="black-right-bottom-tom">
        Avec la participation de :
        <div class="intervenants">
          <div class="intervenant" (mouseover)="hoverOn()" (mouseleave)="hoverOff()" *ngFor="let intervenant of intervenants;" (click)="goToIntervenant(intervenant.id);">
            {{intervenant.prenom + " " + intervenant.nom}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SIMILAIRE ------------------------------------ -->

<div class="cards-container start-page">
  <div class="cards-top">
    <div class="title-cards">
      Contenus similaires
    </div>
    <div class="voirplus" (click)="goTo(type)" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <i class="fas fa-play-circle voirplus-icon"></i> Voir plus
    </div>
  </div>
  <div class="cards-bottom">
    <div class="card-container" (mouseover)="hoverOn()" (mouseleave)="hoverOff()" *ngFor="let sim of similaires;" (click)="goToVideo(sim.id);">
      <div class="card-top">
        <img src="{{sim.photo}}"/>
      </div>
      <div class="card-middle">
        {{sim.titre}}
      </div>
      <div class="card-bottom">
        <div class="date">
          {{sim.date}}
        </div>
        <div class="play">
          <div class="type">{{sim.type}}</div>
          <div><i class="fas fa-play"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Les dernières émissions ------------------------------------ -->

<div class="cards-container table-ronde end-page">
  <div class="cards-top">
    <div class="title-cards">
      Nos dernières émissions
    </div>
    <div class="voirplus" (click)="goTo('videos')" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
      <i class="fas fa-play-circle voirplus-icon"></i> Voir plus
    </div>
  </div>
  <div class="cards-bottom">
    <div class="card-container" (mouseover)="hoverOn()" (mouseleave)="hoverOff()" *ngFor="let vid of latest;" (click)="goToVideo(vid.id);">
      <div class="card-top">
        <img src="{{vid.photo}}"/>
      </div>
      <div class="card-middle">
        {{vid.titre}}
      </div>
      <div class="card-bottom">
        <div class="date">
          {{vid.date}}
        </div>
        <div class="play">
          <div class="type">{{vid.type}}</div>
          <div><i class="fas fa-play"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer ------------------------------------------ -->
<app-footer></app-footer>
