<!-- HEADER ------------------------------------------- -->
<app-header></app-header>

<!-- Experts ------------------------------------ -->

<div class="cards-container end-page start-page">
  <div class="cards-top">
    <div class="title-cards">
      Table Ronde des Experts
    </div>
  </div>
  <div class="cards-bottom">
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-top">
        <img src="https://i.ytimg.com/vi/mrkRt2CMXss/maxresdefault.jpg"/>
      </div>
      <div class="card-middle">
        Droit numérique, RGPD, cybersécurité risques et opportunités ?
      </div>
      <div class="card-bottom">
        <div class="date">
          Le 25/04/2021
        </div>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>
